
@{
    ViewData["Title"] = "Index";
}

<style>
    .listree-submenu-heading {
        cursor: pointer
    }

    ul.listree {
        list-style: none
    }

    ul.listree-submenu-items {
        list-style: none;
        border-left: 1px dashed black;
        white-space: nowrap;
        margin-right: 4px;
        padding-left: 20px
    }

    div.listree-submenu-heading.collapsed:before {
        content: "+";
        margin-right: 4px
    }

    div.listree-submenu-heading.expanded:before {
        content: "-";
        margin-right: 4px
    }

    .scrollable-menu {
        height: auto;
        max-width: 800px;
        overflow-y: hidden
    }
</style>
<!-- Breadcomb area Start-->
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Menu</h2>
                                    <p>Quản lý tất cả menu item hiển thị trang chủ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="SysMenu" asp-area="Admin" asp-action="Create" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group nk-int-st">
                        <label class="control-label">Menu Name</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group nk-int-st">
                        <label class="control-label">Menu Link</label>
                        <input type="text" name="Link" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <a data-toggle="modal" data-target="#exampleModal" class="btn-sm btn-success waves-effect">
                            <i class="notika-icon notika-plus-symbol"></i>
                            Thêm mới
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <ul class="listree">
                                    @foreach (var item in ViewBag.Menu)
                                    {
                                        if (item.Parent == null && item.InverseParents.Count == 0)
                                        {
                                            <span>
                                                @item.Name
                                                <a class="actions action-delete btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')"><i class="@(item.InverseParents.Count == 0 ?  "notika-icon notika-trash" : "rm")"></i></a>
                                                <a class="actions action-add btn-sm btn-primary" asp-action="AddSubMenu" asp-route-id="@item.Id"><i class="notika-icon notika-plus-symbol"></i></a>
                                            </span>

                                        }
                                        if (item.InverseParents != null && item.InverseParents.Count != 0)
                                        {
                                            <li>
                                                <div class="listree-submenu-heading">
                                                    @item.Name @*ok*@
                                                    <a class="actions action-delete btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')"><i class="@(item.InverseParents.Count == 0 ?  "notika-icon notika-trash" : "rm")"></i></a>
                                                    <a class="actions action-add btn-sm btn-primary" asp-action="AddSubMenu" asp-route-id="@item.Id"><i class="notika-icon notika-plus-symbol"></i></a>
                                                </div>
                                                <ul class="listree-submenu-items">
                                                    @if (item.InverseParents != null && item.InverseParents.Count != 0)
                                                    {
                                                        foreach (var subMenu in item.InverseParents)
                                                        {
                                                            if (subMenu.ParentId != null && subMenu.InverseParents.Count != 0)
                                                            {
                                                                <li>
                                                                    <div class="listree-submenu-heading">
                                                                        @subMenu.Name @*ok*@
                                                                        <a class="actions action-delete btn-sm btn-danger" asp-action="Delete" asp-route-id="@subMenu.Id" onclick="return confirm('Are you sure?')"><i class="@(item.InverseParents.Count == 0 ?  "notika-icon notika-trash" : "rm")"></i></a>
                                                                        <a class="actions action-add btn-sm btn-primary" asp-action="AddSubMenu" asp-route-id="@subMenu.Id"><i class="notika-icon notika-plus-symbol" style="display:block"></i></a>
                                                                    </div>
                                                                    <ul class="listree-submenu-items">
                                                                        @foreach (var subsubMenu in subMenu.InverseParents)
                                                                        {
                                                                            if (subsubMenu.ParentId == subMenu.Id)
                                                                            {
                                                                                subMenu.InverseParents = null;
                                                                            }
                                                                            <li>
                                                                                <span>
                                                                                    @subsubMenu.Name
                                                                                    <a class="actions action-delete btn-sm btn-danger" asp-action="Delete" asp-route-id="@subsubMenu.Id" onclick="return confirm('Are you sure?')"><i class="@(item.InverseParents.Count != 0 ?  "notika-icon notika-trash" : "rm")"></i></a>
                                                                                </span>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <span>
                                                                    @subMenu.Name @*ok*@
                                                                    <a class="actions action-delete btn-sm btn-danger" asp-action="Delete" asp-route-id="@subMenu.Id" onclick="return confirm('Are you sure?')"><i class="@(item.InverseParents.Count != 0 ?  "notika-icon notika-trash" : "rm")"></i></a>
                                                                    <a class="actions action-add btn-sm btn-primary" asp-action="AddSubMenu" asp-route-id="@subMenu.Id"><i class="notika-icon notika-plus-symbol"></i></a>
                                                                </span>
                                                            }

                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->

<style>
    ul.listree li, ul.listree span {
        position: relative;
    }

        ul.listree li div:after, ul.listree span:after {
            font-size: 8px;
            line-height: 0;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            margin-left: 7px;
            content: '.................................................';
            -moz-transition: all .3s cubic-bezier(.36,.8,.41,1);
            -ms-transition: all .3s cubic-bezier(.36,.8,.41,1);
            -o-transition: all .3s cubic-bezier(.36,.8,.41,1);
            -webkit-transition: all .3s cubic-bezier(.36,.8,.41,1);
            transition: all .3s cubic-bezier(.36,.8,.41,1);
            letter-spacing: .75em;
            opacity: .4;
            color: inherit;
        }

    a.actions.action-delete {
        float: right;
        color: #000;
    }

    ul.listree li div:hover:after, ul.listree span:hover:after {
        color: #00c292 !important;
        opacity: 1;
        font-size: 9px;
        font-weight: 700;
    }

    ul.listree {
        overflow: hidden;
    }

        ul.listree li, ul.listree span {
            margin-bottom: 15px !important;
            display: block;
        }

    .listree-submenu-heading.expanded:after {
        top: 11px;
    }

    a.actions.action-delete {
        color: #fff;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 100%;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9998;
    }

    .listree-submenu-heading.collapsed:first-child {
        margin-top: 15px;
    }

    .listree-submenu-heading.expanded:first-child {
        margin-top: 15px;
    }

    ul.listree span:first-child {
        margin-top: 15px;
    }

    a.actions.action-add {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        float: right;
        margin-right: 6px;
    }

    a.actions:hover {
        box-shadow: 2px 2px 2px 1px #cccccc6b;
    }

    a.actions {
        z-index: 9999;
        position: relative;
    }
</style>
<script>
    !function (e, t) { "object" == typeof exports && "undefined" != typeof module ? module.exports = t() : "function" == typeof define && define.amd ? define(t) : (e = e || self).listree = t() }(this, (function () { "use strict"; return function () { const e = document.getElementsByClassName("listree-submenu-heading"); Array.from(e).forEach((function (e) { e.classList.add("collapsed"), e.nextElementSibling.style.display = "none", e.addEventListener("click", (function (t) { const n = t.target.nextElementSibling; "none" == n.style.display ? (e.classList.remove("collapsed"), e.classList.add("expanded"), n.style.display = "block") : (e.classList.remove("expanded"), e.classList.add("collapsed"), n.style.display = "none"), t.stopPropagation() })) })) } }));
</script>
<script>
    listree();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
    $(".action-delete .rm").parent().remove();
    $(".action-delete").remove("collapsed");
    $(".action-delete").remove("expanded");
</script>
